.mahamantra{
    padding-left: 50px;
    background: url("Images/Temple1.jpg") left no-repeat;
    background-size:contain;
    text-align: left;
    
}

body{
    background-color: lightgoldenrodyellow;
    
}
.imgcenter{
   
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

